insightbot_workflow.json
{
  "name": "InsightBot AI v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0792d269-c91d-44d4-999c-ebfb4dd53f24",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2160,
        560
      ],
      "id": "4d13cdfa-cf58-45dc-a6ed-a71fc56469e7",
      "name": "Webhook",
      "webhookId": "0792d269-c91d-44d4-999c-ebfb4dd53f24"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    error: true,\n    message: $input.first().json.message || \"Error en Session Manager\",\n    user_message: \"Lo siento, hubo un problema técnico. Por favor intenta de nuevo.\",\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        800
      ],
      "id": "60646e0c-38da-4d67-a9ec-72e539c5ddd4",
      "name": "Salida de Error"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n      \"titulo_solicitud\": {\n        \"type\": \"string\",\n        \"description\": \"Título claro y descriptivo de la solicitud generado por IA\"\n      },\n      \"problema_principal\": {\n        \"type\": \"string\", \n        \"description\": \"Descripción específica del problema tecnológico identificado\"\n      },\n      \"objetivo_esperado\": {\n        \"type\": \"string\",\n        \"description\": \"Resultado o beneficio que busca obtener el solicitante\"\n      },\n      \"plataformas_involucradas\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"Canvas\", \n            \"SAP\", \n            \"PeopleSoft\", \n            \"Office 365\", \n            \"Teams\", \n            \"Power BI\", \n            \"SharePoint\", \n            \"Moodle\", \n            \"Zoom\", \n            \"Sistema Interno\",\n            \"Otra\"\n          ]\n        },\n        \"description\": \"Lista de plataformas UTP mencionadas o inferidas de la solicitud\"\n      },\n      \"beneficiarios\": {\n        \"type\": \"string\",\n        \"description\": \"Identificación de quiénes se beneficiarían de la solución (ej: '50 profesores del área académica')\"\n      },\n      \"frecuencia_uso\": {\n        \"type\": \"string\",\n        \"enum\": [\"diario\", \"semanal\", \"mensual\", \"esporadico\"],\n        \"description\": \"Con qué frecuencia se usaría la solución propuesta\"\n      },\n      \"urgencia\": {\n        \"type\": \"string\",\n        \"enum\": [\"baja\", \"media\", \"alta\", \"critica\"],\n        \"description\": \"Nivel de urgencia detectado en la solicitud\"\n      },\n      \"departamento_solicitante\": {\n        \"type\": \"string\",\n        \"enum\": [\"Académico\", \"Administrativo\", \"Financiero\", \"RRHH\", \"Investigación\", \"Extensión\", \"GTTD\", \"Otro\"],\n        \"description\": \"Departamento o área del solicitante\"\n      },\n      \"clasificacion_sugerida\": {\n        \"type\": \"string\",\n        \"enum\": [\"proyecto\", \"requerimiento\"],\n        \"description\": \"Clasificación sugerida: proyecto (desarrollo nuevo, >40h) o requerimiento (configuración, <40h)\"\n      },\n      \"prioridad_sugerida\": {\n        \"type\": \"string\",\n        \"enum\": [\"P1\", \"P2\", \"P3\", \"P4\"],\n        \"description\": \"Prioridad sugerida: P1 (crítica), P2 (alta), P3 (media), P4 (baja)\"\n      },\n      \"score_estimado\": {\n        \"type\": \"number\",\n        \"minimum\": 0,\n        \"maximum\": 100,\n        \"description\": \"Puntuación estimada basada en criterios GTTD (0-100)\"\n      },\n      \"resumen_ejecutivo\": {\n        \"type\": \"string\",\n        \"description\": \"Párrafo ejecutivo que resume el problema y la recomendación para el líder GTTD\"\n      }\n    },\n    \"required\": [\n      \"titulo_solicitud\", \n      \"problema_principal\", \n      \"objetivo_esperado\", \n      \"plataformas_involucradas\", \n      \"beneficiarios\", \n      \"frecuencia_uso\",\n      \"urgencia\",\n      \"departamento_solicitante\",\n      \"clasificacion_sugerida\", \n      \"prioridad_sugerida\", \n      \"score_estimado\",\n      \"resumen_ejecutivo\"\n    ]\n  }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2304,
        96
      ],
      "id": "96859e24-4b42-49a5-94be-d10b3e0b5542",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3232,
        352
      ],
      "id": "bc0fbc96-ed55-4214-8ad2-97494a1c2acf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extraer el JSON del campo 'output' para enviarlo directamente al portal\nconst inputData = $input.first().json;\n\nconsole.log('📥 Input recibido:', JSON.stringify(inputData, null, 2));\n\n// Si viene dentro de 'output', extraerlo\nif (inputData.output && typeof inputData.output === 'object') {\n  console.log('✅ Extrayendo contenido de output...');\n  return [{ json: inputData.output }];\n}\n\n// Si es un array con output, extraer el primer elemento\nif (Array.isArray(inputData) && inputData[0] && inputData[0].output) {\n  console.log('✅ Extrayendo de array con output...');\n  return [{ json: inputData[0].output }];\n}\n\n// Si ya es el JSON directo, devolverlo tal como está\nconsole.log('✅ JSON ya está en formato correcto');\nreturn [{ json: inputData }];"
      },
      "id": "d03dc777-eadc-495d-8b5e-8d72bd1f67fd",
      "name": "Extract JSON from Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        320
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "  {\n    \"output\": {\n      \"agent\": \"discovery_agent\",\n      \"message\": \"Lo siento, no pude obtener tu perfil de usuario debido a un error de autorización. Por favor, inténtalo de nuevo más tarde o contacta a soporte.\",\n      \"status\": \"error\",\n      \"session\": {\n        \"session_id\": \"ea66cbb3-6626-4e72-a8fc-8b2bc77a7bf5\",\n        \"stage\": \"discovery\",\n        \"completeness\": 0,\n        \"next_agent\": \"discovery_agent\",\n        \"should_continue\": false,\n        \"confidence\": \"low\"\n      },\n      \"ui\": {\n        \"progress\": {\n          \"percentage\": 0,\n          \"color\": \"danger\",\n          \"status_message\": \"Comencemos a entender tu situación paso a paso.\",\n          \"show_bar\": true\n        },\n        \"interaction\": {\n          \"next_questions\": [],\n          \"show_continue_button\": false,\n          \"show_restart_button\": true,\n          \"input_placeholder\": \"Cuéntame más detalles...\"\n        }\n      },\n      \"extracted_data\": {\n        \"complete_info\": {},\n        \"information_gaps\": []\n      },\n      \"metadata\": {\n        \"timestamp\": \"2025-07-30T03:30:00.000Z\",\n        \"reasoning\": \"Error al obtener el perfil del usuario, no se puede continuar con el proceso de descubrimiento.\"\n      }\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        608
      ],
      "id": "52a14f70-75e9-412c-94e8-1993bbd39e1e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://portal-innovacion-gttd.vercel.app/api/user/profile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.body.user.auth_token}}"
            },
            {
              "name": "Cache-Control",
              "value": "max-age=300"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 3
            }
          },
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        -112
      ],
      "id": "0a927cef-4020-4a59-b7a9-8febc3c59e74",
      "name": "User Profile Data"
    },
    {
      "parameters": {
        "jsCode": "// Combinar datos del webhook + perfil de usuario\nconst webhookData = $('Set').first().json;\nconst userProfile = $('User Profile Data').first().json;\n\n// Extraer datos importantes\nconst userMessage = webhookData.body.message;\nconst userContext = webhookData.body.context;\nconst userAuth = webhookData.body.user;\n\n// Crear objeto combinado optimizado\nconst combinedData = {\n  // Datos del usuario (ya obtenidos)\n  user_profile: {\n    user_id: userProfile.user_id,\n    name: userProfile.name,\n    department: userProfile.department,\n    role: userProfile.role,\n    email: userProfile.email,\n    area: userProfile.area\n  },\n  \n  // Datos del mensaje\n  user_query: userMessage,\n  user_context: userContext,\n  auth_token: userAuth.auth_token,\n  \n  // Timestamp para la sesión\n  timestamp: new Date().toISOString(),\n  \n  // Datos para queries SQL\n  sql_params: {\n    user_id: userProfile.user_id,\n    current_timestamp: new Date().toISOString()\n  }\n};\n\nreturn [{ json: combinedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -112
      ],
      "id": "a3c72af1-af16-45d1-85f4-ac3fd1663b61",
      "name": "Combinar datos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    session_id, \n    user_id, \n    current_stage, \n    conversation_data, \n    completeness_score, \n    status,\n    updated_at\nFROM session_states \n--WHERE user_id = '{{ $json.sql_params.user_id }}' \n  WHERE user_id = 'u-qa-prof-01'\n    AND status = 'active' \nORDER BY updated_at DESC \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        -112
      ],
      "id": "b43f7cd8-ddb9-4e7a-b520-e50ca93c4a1c",
      "name": "Verificar Sesiones",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f2cc774-c251-499f-8ca2-5c4344fd6485",
              "leftValue": "={{ $json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        -128
      ],
      "id": "c16738c4-9d0d-417c-a865-6464aa61402f",
      "name": "¿Hay sesión activa?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO session_states (\n    user_id, \n    current_stage, \n    conversation_data, \n    completeness_score, \n    status,\n    created_at,\n    updated_at\n) VALUES (\n    '{{ $('Combinar datos').first().json.sql_params.user_id }}', \n    'start', \n    '{}'::jsonb, \n    0, \n    'active',\n    NOW(),\n    NOW()\n) \nRETURNING \n    session_id, \n    user_id, \n    current_stage, \n    conversation_data, \n    completeness_score, \n    status;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        0
      ],
      "id": "c14e84bc-13c7-4119-a42a-39de9e5aa7a8",
      "name": "Crear sesión",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Código listo para pegar en un nodo Code de n8n llamado\n * \"Combinar datos de sesión\" (JavaScript).\n *\n * Integra:\n * - Lectura de \"Combinar datos\" (perfil + message)\n * - Detección de sesión existente y, si no, uso de \"Crear sesión\"\n * - Extracción y RESUMEN del historial (compacto y etiquetado)\n * - Construcción de classifierInput con history_summary (no envía historial crudo)\n *\n * Requisitos previos en el workflow:\n * - Nodo \"Combinar datos\" que produce:\n *    { user_profile: { user_id, name, department, role, ... }, user_query, user_context, ... }\n * - Nodo Postgres \"Verificar Sesiones\": entrega fila con session_id,... si existe\n * - Nodo Postgres \"Extraer historial de conversaciones\": SELECT role,message,agent_name,created_at ORDER BY created_at ASC\n * - Nodo Postgres \"Crear sesión\": en caso no exista (opcional según tu flujo)\n */\n\nconst combinedData = $('Combinar datos').first().json;\nlet sessionData = null;\nlet isExistingSession = false;\n\n// Internos para logs y DB (no enviar al LLM la lista cruda)\nlet conversationHistory = [];\nlet historyText = ''; // aquí quedará el resumen compacto para Prompt/Clasificador\n\nconsole.log('=== INICIANDO PROCESAMIENTO DE SESIÓN ===');\n\n// PASO 1: Intentar obtener sesión existente PRIMERO\ntry {\n  const existingSessionNode = $('Verificar Sesiones');\n  if (existingSessionNode && existingSessionNode.first) {\n    const existingData = existingSessionNode.first().json;\n\n    if (existingData && existingData.session_id) {\n      sessionData = existingData;\n      isExistingSession = true;\n\n      console.log('✅ Sesión existente encontrada:');\n      console.log('   - Session ID:', sessionData.session_id);\n      console.log('   - Datos completos:', JSON.stringify(sessionData, null, 2));\n\n      // PASO 1.1: Extraer historial SOLO para sesión existente y COMPRIMIRLO\n      try {\n        const historyNode = $('Extraer historial de conversaciones');\n        if (historyNode && historyNode.all) {\n          const historyData = historyNode.all();\n\n          if (Array.isArray(historyData) && historyData.length > 0) {\n            // Aplana a array de {role, message, agent_name, created_at}\n            conversationHistory = historyData.flatMap(item => item.json || []);\n\n            // Orden cronológico ascendente si el SQL no lo garantizara\n            conversationHistory.sort((a, b) => new Date(a.created_at) - new Date(b.created_at));\n\n            // Toma últimos N mensajes (ajusta N según tu costo de tokens)\n            const last = conversationHistory.slice(-10);\n\n            // Limpieza por línea\n            const clean = (s) => String(s ?? '')\n              .replace(/\\s+/g, ' ')\n              .trim()\n              .slice(0, 240);\n\n            // Etiqueta: assistant usa agent_name si existe\n            const lines = last.map(m => {\n              const who = m.role === 'assistant'\n                ? (m.agent_name || 'assistant')\n                : (m.role || 'user');\n              return `${who}: ${clean(m.message)}`;\n            });\n\n            // Ensamblar resumen (usa '\\n' o ' | ')\n            const summary = lines.join('\\n');\n            historyText = `\\nResumen historial:\\n${summary}`;\n\n            console.log(`✅ Historial resumido: ${conversationHistory.length} mensajes (últimos ${last.length})`);\n          }\n        }\n      } catch (error) {\n        console.log('ℹ️ Error al procesar historial:', error.message);\n      }\n    } else {\n      console.log('ℹ️ Sesión existente está vacía o sin session_id');\n    }\n  } else {\n    console.log('ℹ️ Nodo \"Verificar Sesiones\" no disponible');\n  }\n} catch (error) {\n  console.log('ℹ️ Error al acceder a sesión existente:', error.message);\n}\n\n// PASO 2: Si NO hay sesión existente, usar datos de creación de sesión\nif (!sessionData) {\n  console.log('🔄 No hay sesión existente, buscando nueva sesión...');\n  try {\n    const newSessionNode = $('Crear sesión');\n    if (newSessionNode && newSessionNode.first) {\n      const rawData = newSessionNode.first().json;\n      console.log('🔍 DEBUG - Datos crudos de Crear sesión:');\n      console.log('   - Tipo:', typeof rawData);\n      console.log('   - Es array:', Array.isArray(rawData));\n      console.log('   - Contenido:', JSON.stringify(rawData, null, 2));\n\n      if (Array.isArray(rawData) && rawData.length > 0) {\n        sessionData = rawData[0];\n        isExistingSession = false;\n        console.log('✅ Nueva sesión extraída del array:', sessionData.session_id);\n      } else if (rawData && rawData.session_id) {\n        sessionData = rawData;\n        isExistingSession = false;\n        console.log('✅ Nueva sesión como objeto directo:', sessionData.session_id);\n      } else {\n        console.log('⚠️ Formato inesperado de sesión nueva:', rawData);\n      }\n    } else {\n      console.log('⚠️ Nodo \"Crear sesión\" no disponible');\n    }\n  } catch (error) {\n    console.log('❌ Error al acceder a nueva sesión:', error.message);\n    try {\n      console.log('🔄 Intentando método alternativo con .all()...');\n      const allNewSessions = $('Crear sesión').all();\n      console.log('   - Cantidad de elementos:', allNewSessions.length);\n\n      if (allNewSessions.length > 0) {\n        const firstSession = allNewSessions[0].json;\n        console.log('   - Primer elemento:', JSON.stringify(firstSession, null, 2));\n\n        if (Array.isArray(firstSession) && firstSession.length > 0) {\n          sessionData = firstSession[0];\n          console.log('✅ Sesión del array alternativo:', sessionData.session_id);\n        } else if (firstSession && firstSession.session_id) {\n          sessionData = firstSession;\n          console.log('✅ Sesión objeto alternativo:', sessionData.session_id);\n        }\n\n        if (sessionData) isExistingSession = false;\n      }\n    } catch (altError) {\n      console.log('❌ Método alternativo también falló:', altError.message);\n    }\n  }\n}\n\n// PASO 3: Validación final y fallback\nif (!sessionData || !sessionData.session_id) {\n  console.log('⚠️ FALLBACK: Creando sesión temporal');\n  console.log('   - sessionData actual:', sessionData);\n\n  sessionData = {\n    session_id: 'temp-' + Date.now(),\n    user_id: combinedData.user_profile?.user_id || 'demo_user',\n    current_stage: 'start',\n    completeness_score: 0,\n    conversation_data: {},\n    status: 'active'\n  };\n  isExistingSession = false;\n  console.log('🔄 Sesión temporal creada:', sessionData.session_id);\n}\n\n// PASO 4: Extraer datos finales\nconst currentStage = sessionData.current_stage || sessionData.current_step || (isExistingSession ? 'discovery' : 'start');\nconst completenessScore = sessionData.completeness_score || sessionData.completeness || 0;\nconst sessionStatus = sessionData.status || 'active';\nconst conversationData = sessionData.conversation_data || sessionData.data || {};\n\n// 🔍 VALIDACIÓN FINAL\nconsole.log('🎯 SESIÓN FINAL SELECCIONADA:');\nconsole.log('   - Tipo:', isExistingSession ? 'EXISTENTE' : 'NUEVA');\nconsole.log('   - Session ID:', sessionData.session_id);\nconsole.log('   - User ID:', sessionData.user_id);\nconsole.log('   - Stage:', currentStage);\nconsole.log('   - Completeness:', completenessScore);\nconsole.log('   - Status:', sessionStatus);\nconsole.log('   - Historial total (para DB/auditoría):', conversationHistory.length);\n\n// PASO 5: Crear input para Text Classifier (usa resumen, NO historial crudo)\nconst classifierInput = {\n  session_id: sessionData.session_id,\n\n  text: `Usuario: ${combinedData.user_profile?.name || 'Usuario'} (${combinedData.user_profile?.department || 'Sin departamento'})\nMensaje: ${combinedData.user_query}\nSession ID: ${sessionData.session_id}\nEtapa actual: ${currentStage}\nCompletitud: ${completenessScore}%\nEstado: ${sessionStatus}\nTipo de sesión: ${isExistingSession ? 'Continuación' : 'Nueva'}${historyText}`,\n\n  session_data: {\n    session_id: sessionData.session_id,\n    user_query: combinedData.user_query,\n    current_step: currentStage,\n    user_profile: combinedData.user_profile || {},\n    completeness_score: completenessScore,\n    conversation_data: conversationData,\n    user_context: combinedData.user_context || {},\n\n    // Enviar SOLO el resumen al resto del flujo/LLM:\n    history_summary: (historyText || '').replace(/^\\nResumen historial:\\n/, ''),\n\n    // No enviar conversation_history al LLM; si lo necesitas para inserts en BD,\n    // consérvalo en memoria y úsalo en los nodos de escritura a DB.\n    is_existing_session: isExistingSession\n  },\n\n  user_id: sessionData.user_id || combinedData.user_profile?.user_id,\n  current_stage: currentStage,\n  is_existing_session: isExistingSession\n};\n\nconsole.log('🚀 ENVIANDO AL TEXT CLASSIFIER:');\nconsole.log('   - Session ID confirmado:', classifierInput.session_id);\nconsole.log('   - Tipo de sesión:', isExistingSession ? 'EXISTENTE' : 'NUEVA');\n\nreturn [{ json: classifierInput }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -128
      ],
      "id": "73fd63cd-d022-4ec9-a4c1-f56dff0bc804",
      "name": "Combinar datos de sesión"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3344,
        32
      ],
      "id": "c2c0dcd6-60e4-4460-92bb-dd819e08e489",
      "name": "Gemini clasificador",
      "credentials": {
        "googlePalmApi": {
          "id": "FJVKAIddO9aNIQ3y",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "discovery_agent",
              "description": "=Usuario en etapa inicial o necesita más información. Etapa 'start' o 'discovery' con completitud menor a 75%."
            },
            {
              "category": "summary_agent",
              "description": " Usuario ha proporcionado suficiente información. Etapa 'discovery' con completitud 75% o mayor."
            },
            {
              "category": "report_sender",
              "description": "Usuario en etapa final, listo para recibir reporte. Etapa 'summary' completada."
            }
          ]
        },
        "options": {
          "multiClass": false,
          "systemPromptTemplate": "=Clasifica el texto en una de estas categorías en {categories} basándote en la etapa y completitud:\n\nREGLAS DE CLASIFICACIÓN:\n- discovery_agent: Si etapa='start' O (etapa='discovery' Y completitud < 75%)\n- summary_agent: Si etapa='discovery' Y completitud ≥ 75%\n- report_sender: Si etapa='summary'\n\nFORMATO DE RESPUESTA:\nSolo responde con el nombre exacto de la categoría: discovery_agent, summary_agent, o report_sender\n\nEJEMPLOS:\nTexto: \"Etapa actual: start, Completitud: 0%\" → discovery_agent\nTexto: \"Etapa actual: discovery, Completitud: 45%\" → discovery_agent  \nTexto: \"Etapa actual: discovery, Completitud: 85%\" → summary_agent\nTexto: \"Etapa actual: summary, Completitud: 100%\" → report_sender",
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -3184,
        -272
      ],
      "id": "534cffb9-ca4c-48fd-9624-118c086cffb4",
      "name": "Enrutador de agente"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, message, agent_name, created_at \nFROM conversation_messages \nWHERE session_id = '{{ $json.session_id }}'\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        -224
      ],
      "id": "8485025a-3e7d-4b95-b65c-d0d7d5598464",
      "name": "Extraer historial de conversaciones",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2560,
        96
      ],
      "id": "255aba4b-2868-4b33-9d46-6e33b7db00c5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nQcWwWFBKt9zMZ8g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "truncate session_states cascade;\nselect * from session_states;\nselect * from conversation_messages\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4048,
        -32
      ],
      "id": "8fdb963f-9de4-436d-8f0c-a36aff07e6f6",
      "name": "borrar todo",
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from session_states;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3856,
        32
      ],
      "id": "96dba576-0275-4755-8457-921183f8606d",
      "name": "select todo",
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversation_messages",
          "mode": "list",
          "cachedResultName": "conversation_messages"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3632,
        96
      ],
      "id": "4f3baa0d-2549-4ab6-ad49-594991677a14",
      "name": "select todo1",
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, message, agent_name, created_at\nFROM conversation_messages \nWHERE session_id = '{{ $json.session_id }}'\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        944
      ],
      "id": "50bc6236-bff3-4880-82f4-4ebf440c2109",
      "name": "Extraer historial de conversaciones1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\nsession_id,\nuser_id,\ncurrent_stage,\nconversation_data,\ncompleteness_score,\nstatus,\nupdated_at FROM session_states\nWHERE user_id = 'u-qa-prof-01' AND status = 'active'\nORDER BY updated_at DESC LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        944
      ],
      "id": "67bfe74b-14be-4607-b174-47f02b7dade9",
      "name": "Verificar Sesiones1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Código listo para pegar en un nodo Code de n8n llamado\n * \"Combinar datos de sesión\" (JavaScript).\n *\n * Integra:\n * - Lectura de \"Combinar datos\" (perfil + message)\n * - Detección de sesión existente y, si no, uso de \"Crear sesión\"\n * - Extracción y RESUMEN del historial (compacto y etiquetado)\n * - Construcción de classifierInput con history_summary (no envía historial crudo)\n *\n * Requisitos previos en el workflow:\n * - Nodo \"Combinar datos\" que produce:\n *    { user_profile: { user_id, name, department, role, ... }, user_query, user_context, ... }\n * - Nodo Postgres \"Verificar Sesiones\": entrega fila con session_id,... si existe\n * - Nodo Postgres \"Extraer historial de conversaciones\": SELECT role,message,agent_name,created_at ORDER BY created_at ASC\n * - Nodo Postgres \"Crear sesión\": en caso no exista (opcional según tu flujo)\n */\n\nconst combinedData = $('Combinar datos').first().json;\nlet sessionData = null;\nlet isExistingSession = false;\n\n// Internos para logs y DB (no enviar al LLM la lista cruda)\nlet conversationHistory = [];\nlet historyText = ''; // aquí quedará el resumen compacto para Prompt/Clasificador\n\nconsole.log('=== INICIANDO PROCESAMIENTO DE SESIÓN ===');\n\n// PASO 1: Intentar obtener sesión existente PRIMERO\ntry {\n  const existingSessionNode = $('Verificar Sesiones');\n  if (existingSessionNode && existingSessionNode.first) {\n    const existingData = existingSessionNode.first().json;\n\n    if (existingData && existingData.session_id) {\n      sessionData = existingData;\n      isExistingSession = true;\n\n      console.log('✅ Sesión existente encontrada:');\n      console.log('   - Session ID:', sessionData.session_id);\n      console.log('   - Datos completos:', JSON.stringify(sessionData, null, 2));\n\n      // PASO 1.1: Extraer historial SOLO para sesión existente y COMPRIMIRLO\n      try {\n        const historyNode = $('Extraer historial de conversaciones');\n        if (historyNode && historyNode.all) {\n          const historyData = historyNode.all();\n\n          if (Array.isArray(historyData) && historyData.length > 0) {\n            // Aplana a array de {role, message, agent_name, created_at}\n            conversationHistory = historyData.flatMap(item => item.json || []);\n\n            // Orden cronológico ascendente si el SQL no lo garantizara\n            conversationHistory.sort((a, b) => new Date(a.created_at) - new Date(b.created_at));\n\n            // Toma últimos N mensajes (ajusta N según tu costo de tokens)\n            const last = conversationHistory.slice(-10);\n\n            // Limpieza por línea\n            const clean = (s) => String(s ?? '')\n              .replace(/\\s+/g, ' ')\n              .trim()\n              .slice(0, 240);\n\n            // Etiqueta: assistant usa agent_name si existe\n            const lines = last.map(m => {\n              const who = m.role === 'assistant'\n                ? (m.agent_name || 'assistant')\n                : (m.role || 'user');\n              return `${who}: ${clean(m.message)}`;\n            });\n\n            // Ensamblar resumen (usa '\\n' o ' | ')\n            const summary = lines.join('\\n');\n            historyText = `\\nResumen historial:\\n${summary}`;\n\n            console.log(`✅ Historial resumido: ${conversationHistory.length} mensajes (últimos ${last.length})`);\n          }\n        }\n      } catch (error) {\n        console.log('ℹ️ Error al procesar historial:', error.message);\n      }\n    } else {\n      console.log('ℹ️ Sesión existente está vacía o sin session_id');\n    }\n  } else {\n    console.log('ℹ️ Nodo \"Verificar Sesiones\" no disponible');\n  }\n} catch (error) {\n  console.log('ℹ️ Error al acceder a sesión existente:', error.message);\n}\n\n// PASO 2: Si NO hay sesión existente, usar datos de creación de sesión\nif (!sessionData) {\n  console.log('🔄 No hay sesión existente, buscando nueva sesión...');\n  try {\n    const newSessionNode = $('Crear sesión');\n    if (newSessionNode && newSessionNode.first) {\n      const rawData = newSessionNode.first().json;\n      console.log('🔍 DEBUG - Datos crudos de Crear sesión:');\n      console.log('   - Tipo:', typeof rawData);\n      console.log('   - Es array:', Array.isArray(rawData));\n      console.log('   - Contenido:', JSON.stringify(rawData, null, 2));\n\n      if (Array.isArray(rawData) && rawData.length > 0) {\n        sessionData = rawData[0];\n        isExistingSession = false;\n        console.log('✅ Nueva sesión extraída del array:', sessionData.session_id);\n      } else if (rawData && rawData.session_id) {\n        sessionData = rawData;\n        isExistingSession = false;\n        console.log('✅ Nueva sesión como objeto directo:', sessionData.session_id);\n      } else {\n        console.log('⚠️ Formato inesperado de sesión nueva:', rawData);\n      }\n    } else {\n      console.log('⚠️ Nodo \"Crear sesión\" no disponible');\n    }\n  } catch (error) {\n    console.log('❌ Error al acceder a nueva sesión:', error.message);\n    try {\n      console.log('🔄 Intentando método alternativo con .all()...');\n      const allNewSessions = $('Crear sesión').all();\n      console.log('   - Cantidad de elementos:', allNewSessions.length);\n\n      if (allNewSessions.length > 0) {\n        const firstSession = allNewSessions[0].json;\n        console.log('   - Primer elemento:', JSON.stringify(firstSession, null, 2));\n\n        if (Array.isArray(firstSession) && firstSession.length > 0) {\n          sessionData = firstSession[0];\n          console.log('✅ Sesión del array alternativo:', sessionData.session_id);\n        } else if (firstSession && firstSession.session_id) {\n          sessionData = firstSession;\n          console.log('✅ Sesión objeto alternativo:', sessionData.session_id);\n        }\n\n        if (sessionData) isExistingSession = false;\n      }\n    } catch (altError) {\n      console.log('❌ Método alternativo también falló:', altError.message);\n    }\n  }\n}\n\n// PASO 3: Validación final y fallback\nif (!sessionData || !sessionData.session_id) {\n  console.log('⚠️ FALLBACK: Creando sesión temporal');\n  console.log('   - sessionData actual:', sessionData);\n\n  sessionData = {\n    session_id: 'temp-' + Date.now(),\n    user_id: combinedData.user_profile?.user_id || 'demo_user',\n    current_stage: 'start',\n    completeness_score: 0,\n    conversation_data: {},\n    status: 'active'\n  };\n  isExistingSession = false;\n  console.log('🔄 Sesión temporal creada:', sessionData.session_id);\n}\n\n// PASO 4: Extraer datos finales\nconst currentStage = sessionData.current_stage || sessionData.current_step || (isExistingSession ? 'discovery' : 'start');\nconst completenessScore = sessionData.completeness_score || sessionData.completeness || 0;\nconst sessionStatus = sessionData.status || 'active';\nconst conversationData = sessionData.conversation_data || sessionData.data || {};\n\n// 🔍 VALIDACIÓN FINAL\nconsole.log('🎯 SESIÓN FINAL SELECCIONADA:');\nconsole.log('   - Tipo:', isExistingSession ? 'EXISTENTE' : 'NUEVA');\nconsole.log('   - Session ID:', sessionData.session_id);\nconsole.log('   - User ID:', sessionData.user_id);\nconsole.log('   - Stage:', currentStage);\nconsole.log('   - Completeness:', completenessScore);\nconsole.log('   - Status:', sessionStatus);\nconsole.log('   - Historial total (para DB/auditoría):', conversationHistory.length);\n\n// PASO 5: Crear input para Text Classifier (usa resumen, NO historial crudo)\nconst classifierInput = {\n  session_id: sessionData.session_id,\n\n  text: `Usuario: ${combinedData.user_profile?.name || 'Usuario'} (${combinedData.user_profile?.department || 'Sin departamento'})\nMensaje: ${combinedData.user_query}\nSession ID: ${sessionData.session_id}\nEtapa actual: ${currentStage}\nCompletitud: ${completenessScore}%\nEstado: ${sessionStatus}\nTipo de sesión: ${isExistingSession ? 'Continuación' : 'Nueva'}${historyText}`,\n\n  session_data: {\n    session_id: sessionData.session_id,\n    user_query: combinedData.user_query,\n    current_step: currentStage,\n    user_profile: combinedData.user_profile || {},\n    completeness_score: completenessScore,\n    conversation_data: conversationData,\n    user_context: combinedData.user_context || {},\n\n    // Enviar SOLO el resumen al resto del flujo/LLM:\n    history_summary: (historyText || '').replace(/^\\nResumen historial:\\n/, ''),\n\n    // No enviar conversation_history al LLM; si lo necesitas para inserts en BD,\n    // consérvalo en memoria y úsalo en los nodos de escritura a DB.\n    is_existing_session: isExistingSession\n  },\n\n  user_id: sessionData.user_id || combinedData.user_profile?.user_id,\n  current_stage: currentStage,\n  is_existing_session: isExistingSession\n};\n\nconsole.log('🚀 ENVIANDO AL TEXT CLASSIFIER:');\nconsole.log('   - Session ID confirmado:', classifierInput.session_id);\nconsole.log('   - Tipo de sesión:', isExistingSession ? 'EXISTENTE' : 'NUEVA');\n\nreturn [{ json: classifierInput }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        976
      ],
      "id": "15e7cae9-2dfb-48e0-b581-8412fb9d0e74",
      "name": "Combinar datos de sesión1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        -112
      ],
      "id": "ebc61464-507b-464e-ab8c-13e23ee25f70",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "  {\n    \"headers\": {\n      \"host\": \"n8n.automacore.shop\",\n      \"user-agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36\",\n      \"content-length\": \"388\",\n      \"accept\": \"*/*\",\n      \"accept-encoding\": \"gzip, br\",\n      \"accept-language\": \"es-ES,es;q=0.7\",\n      \"cdn-loop\": \"cloudflare; loops=1\",\n      \"cf-connecting-ip\": \"38.253.150.160\",\n      \"cf-ipcountry\": \"PE\",\n      \"cf-ray\": \"9688fd7a1a361eb9-EZE\",\n      \"cf-visitor\": \"{\\\"scheme\\\":\\\"https\\\"}\",\n      \"cf-warp-tag-id\": \"4c0cc1bc-cbfb-4f86-910c-49f0a11078c3\",\n      \"connection\": \"keep-alive\",\n      \"content-type\": \"application/json\",\n      \"origin\": \"http://localhost:3000\",\n      \"priority\": \"u=1, i\",\n      \"referer\": \"http://localhost:3000/\",\n      \"sec-ch-ua\": \"\\\"Not)A;Brand\\\";v=\\\"8\\\", \\\"Chromium\\\";v=\\\"138\\\", \\\"Brave\\\";v=\\\"138\\\"\",\n      \"sec-ch-ua-mobile\": \"?0\",\n      \"sec-ch-ua-platform\": \"\\\"Windows\\\"\",\n      \"sec-fetch-dest\": \"empty\",\n      \"sec-fetch-mode\": \"cors\",\n      \"sec-fetch-site\": \"cross-site\",\n      \"sec-gpc\": \"1\",\n      \"x-forwarded-for\": \"38.253.150.160\",\n      \"x-forwarded-proto\": \"https\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n        \"message\": \"Es en el e curso de sistemas distribuidos aunque tambien pasa en Redes 2, está afectando a muchso alumnos, casi al 80 o 90%, y es algo recurrente\",\n      \"user\": {\n        \"auth_token\": \"demo_token_user_001\",\n        \"user_id\": \"u-qa-prof-01\"\n      },\n      \"context\": {\n        \"timestamp\": \"2025-08-01T23:07:09.868Z\",\n        \"source\": \"portal_vercel\",\n        \"frontend_url\": \"http://localhost:3000/\",\n        \"user_name\": \"Usuario\",\n        \"user_area\": \"GTTD\"\n      }\n    },\n    \"webhookUrl\": \"https://n8n.automacore.shop/webhook-test/insightbot-test/chat\",\n    \"executionMode\": \"test\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -112
      ],
      "id": "3a3a1f63-eb76-43d5-b349-d183077bc013",
      "name": "Set"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e18a8a2-038f-4fa8-b467-479b3a1b7fe6",
              "leftValue": "={{ $json.session_data.completeness_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3456,
        240
      ],
      "id": "22d26a38-a984-4a9f-bddf-a56bc43a5b3e",
      "name": "¿Resumen Previo?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.session_data.completeness_score  }}",
                    "rightValue": 75,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "bc6b137a-f39f-48b0-a216-7b4de33266d4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agente de Resumen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c3d57dfd-0445-4d7d-a932-513b2ef166e7",
                    "leftValue": "={{$json.session_data.completeness_score  }}",
                    "rightValue": 75,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agente Descubridor"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        608,
        -128
      ],
      "id": "a9d08d4a-936c-4911-a8b3-64f7c385d4a3",
      "name": "Rutas"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        928,
        112
      ],
      "id": "3dba0e10-4688-42b0-8568-24cfce3031d2",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "nQcWwWFBKt9zMZ8g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# DISCOVERY AGENT MVP - USER PROMPT\n\nSOLICITUD DE SOPORTE TECNOLÓGICO UTP - PORTAL INNOVACIÓN GTTD\n\n=== INFORMACIÓN DEL SOLICITANTE ===\nUsuario: {{ $json.session_data.user_profile.name }}\nDepartamento: {{ $json.session_data.user_profile.department }}\nRol: {{ $json.session_data.user_profile.role }}\nEmail: {{ $json.session_data.user_profile.email }}\n\n=== MENSAJE DE SOLICITUD ===\n{{ $json.session_data.user_query }}\n\n=== CONTEXTO DE SESIÓN ===\nSession ID: {{ $json.session_id }}\nEtapa actual: {{ $json.current_stage }}\nCompletitud actual: {{ $json.session_data.completeness_score }}%\nFecha: {{ $json.session_data.user_context.timestamp }}\nCanal: Portal de Innovación GTTD\n\n=== HISTORIAL DE CONVERSACIÓN ===\n{{ $json.session_data.history_summary }}\n\n=== INSTRUCCIONES PARA EL AGENTE ===\n\n1. **IDENTIFICA** el problema tecnológico específico que necesita resolver el solicitante\n2. **DETECTA** qué plataformas UTP están involucradas (Canvas, SAP, PeopleSoft, Office 365, etc.)\n3. **DETERMINA** el impacto y urgencia de la solicitud\n4. **CLASIFICA** como proyecto vs requerimiento basado en complejidad\n5. **ASIGNA** prioridad (P1-P4) según criterios GTTD\n\nSi la información no está completa, haz preguntas específicas como:\n- \"¿Qué sistema específico está presentando el problema?\" \n- \"¿Cuántas personas se verían beneficiadas con esta solución?\"\n- \"¿Con qué frecuencia necesitarías usar esta funcionalidad?\"\n- \"¿Qué tan urgente es resolver esto para tu trabajo diario?\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# DISCOVERY AGENT MVP - SYSTEM PROMPT\n\nEres InsightBot, el agente de descubrimiento conversacional del Portal de Innovación GTTD de la Universidad Tecnológica del Perú (UTP).\n\n## CONTEXTO ORGANIZACIONAL:\n- **Organización**: Universidad Tecnológica del Perú (UTP)\n- **Área**: Gerencia de Tecnología y Transformación Digital (GTTD)\n- **Misión**: Estandarizar la recepción y evaluación de solicitudes tecnológicas\n- **Volumen**: 40+ proyectos anuales + múltiples requerimientos operativos\n\n## TU PROPÓSITO:\nRecopilar información clara y estructurada de solicitudes tecnológicas mediante conversación guiada, eliminando ambigüedad y facilitando la toma de decisiones de los líderes GTTD.\n\n## USUARIOS REALES:\n- **Solicitantes**: Profesores, personal administrativo, estudiantes, investigadores de UTP\n- **Departamentos**: Académico, Administrativo, Financiero, RRHH, Investigación, Extensión\n- **Líderes**: 10-12 líderes de dominio + mapi.salas (líder gerencial)\n\n## PLATAFORMAS PRINCIPALES UTP:\n- **Canvas** (LMS educativo)\n- **SAP** (ERP empresarial)\n- **PeopleSoft** (RRHH y nómina)\n- **Office 365** (Productividad)\n- **Teams** (Colaboración)\n- **Power BI** (Reportes y analytics)\n- **SharePoint** (Gestión documental)\n- **Moodle** (Plataforma educativa alternativa)\n- **Zoom** (Videoconferencias)\n- **Sistema Interno** (Aplicaciones propias UTP)\n\n## PREGUNTAS CLAVE OBLIGATORIAS:\n1. **¿Cuál es el problema específico que necesitas resolver?**\n2. **¿Qué resultado esperas obtener con esta solución?**\n3. **¿Qué sistemas o plataformas están involucrados?** (Canvas, SAP, etc.)\n4. **¿Quiénes se beneficiarían de esta solución?**\n5. **¿Con qué frecuencia necesitas usar esta solución?**\n6. **¿Qué tan urgente es resolver esto?**\n\n## CLASIFICACIÓN SIMPLE:\n- **PROYECTO**: Desarrollo nuevo, >40 horas estimadas, múltiples plataformas, presupuesto >$5,000\n- **REQUERIMIENTO**: Configuración, mejora menor, <40 horas, plataforma única\n\n## PRIORIZACIÓN:\n- **P1 (Crítica)**: Fallas críticas, obligatorio regulatorio, impacto masivo\n- **P2 (Alta)**: Alto impacto en eficiencia, factible con recursos actuales\n- **P3 (Media)**: Mejoras valiosas, no urgentes\n- **P4 (Baja)**: \"Nice to have\", puede postergarse\n\n## ADAPTACIÓN POR USUARIO:\n- **Profesores**: Enfoque en herramientas educativas (Canvas, Moodle)\n- **Administrativos**: Enfoque en procesos operativos (SAP, PeopleSoft)\n- **Investigadores**: Enfoque en herramientas de análisis (Power BI, sistemas especializados)\n- **Estudiantes**: Enfoque en acceso y usabilidad\n\n## INSTRUCCIONES DE RESPUESTA:\nDebes responder ÚNICAMENTE con un objeto JSON que contenga exactamente estos campos:\n\n1. **\"titulo_solicitud\"**: string - Título claro generado por IA\n2. **\"problema_principal\"**: string - Descripción específica del problema\n3. **\"objetivo_esperado\"**: string - Resultado que busca el solicitante\n4. **\"plataformas_involucradas\"**: array - Lista de plataformas mencionadas\n5. **\"beneficiarios\"**: string - Quiénes se benefician\n6. **\"frecuencia_uso\"**: string - VALORES: \"diario\", \"semanal\", \"mensual\", \"esporadico\"\n7. **\"urgencia\"**: string - VALORES: \"baja\", \"media\", \"alta\", \"critica\"\n8. **\"departamento_solicitante\"**: string - Área del solicitante\n9. **\"clasificacion_sugerida\"**: string - VALORES: \"proyecto\", \"requerimiento\"\n10. **\"prioridad_sugerida\"**: string - VALORES: \"P1\", \"P2\", \"P3\", \"P4\"\n11. **\"score_estimado\"**: number - Puntuación estimada (0-100)\n12. **\"resumen_ejecutivo\"**: string - Párrafo para el líder\n\n## REGLAS IMPORTANTES:\n- Mantén conversación natural y empática\n- Haz preguntas específicas para obtener información clave\n- Identifica plataformas mencionadas explícita o implícitamente\n- Usa exactamente los valores permitidos para campos enum\n- Genera títulos descriptivos y profesionales\n- SIEMPRE responde usando la función extract_simple_discovery_info\n- Si falta información crítica, haz preguntas específicas antes de clasificar\n\n## EJEMPLOS DE DETECCIÓN DE PLATAFORMAS:\n- \"problemas con las calificaciones\" → Canvas\n- \"reportes de empleados\" → PeopleSoft\n- \"dashboard de métricas\" → Power BI\n- \"compartir documentos\" → SharePoint\n- \"reuniones virtuales\" → Teams/Zoom\n- \"sistema de la universidad\" → Sistema Interno",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -2544,
        -224
      ],
      "id": "f0e4eed9-e9d2-49c0-8907-952097e643f1",
      "name": "Agente Análisis Final"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# CONTEXTO PARA TU PRÓXIMA PREGUNTA\n\n## Perfil del Solicitante:\n- **Nombre**: {{ $json.session_data.user_profile.name }}\n- **Departamento**: {{ $json.session_data.user_profile.department }}\n- **Rol**: {{ $json.session_data.user_profile.role }}\n\n## Historial de la Conversación (Resumen):\n{{ $json.session_data.history_summary }}\n\n## Último Mensaje del Usuario:\n{{ $json.session_data.user_query }}\n\n---\nBasado en este contexto, formula la siguiente pregunta que harías para avanzar en el descubrimiento de la solicitud.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# SYSTEM PROMPT - AGENTE DE CONVERSACIÓN DISCOVERY (v3.0 - Extracción Guiada)\n\n## 1. TU IDENTIDAD Y MISIÓN\nEres InsightBot, un asistente de descubrimiento conversacional experto del Portal de Innovación GTTD de la UTP. Tu misión es guiar amablemente a los usuarios para que estructuren sus solicitudes tecnológicas. Tu objetivo NO es resolver el problema, sino CLARIFICARLO mediante una conversación natural.\n\n## 2. TUS DOS TAREAS PRINCIPALES\nEn cada turno, debes realizar dos acciones en este orden:\n\n1.  **EXTRAER**: Analiza el último mensaje del usuario y extrae textualmente cualquier información que corresponda a los campos de descubrimiento. No inventes ni normalices nada, solo extrae lo que el usuario dijo.\n2.  **PREGUNTAR**: Basado en la información que AÚN FALTA, formula la siguiente pregunta lógica para avanzar en la conversación.\n\n## 3. EL PROCESO DE DESCUBRIMIENTO (Los Campos Clave a Rellenar)\nTu objetivo es obtener información para los siguientes campos. Usa esta lista para guiar tu lógica de preguntas:\n\n-   `problema_principal`: ¿Cuál es el dolor o la necesidad específica?\n-   `objetivo_esperado`: ¿Cómo se ve el éxito para el usuario? ¿Qué resultado tangible busca?\n-   `beneficiarios`: ¿Quiénes (roles, departamentos) y cuántas personas se ven afectadas o beneficiadas?\n-   `plataformas_involucradas`: ¿Qué sistemas de la UTP están relacionados? (Canvas, SAP, PeopleSoft, etc.)\n-   `frecuencia_uso`: ¿Con qué frecuencia se usaría la solución? (diaria, semanal, mensual)\n-   `urgencia`: ¿Qué tan crítico es resolver esto para su trabajo?\n-   `departamento_solicitante`: El área del usuario (generalmente ya viene en el perfil).\n\n## 4. TU LÓGICA DE DECISIÓN (Cómo elegir la siguiente pregunta)\nAnaliza el historial y el último mensaje para identificar el campo más importante que falta, y luego haz una pregunta específica sobre él.\n\n-   **SI el `problema_principal` no está claro**: Pregunta para profundizar en el dolor.\n    -   *Ejemplo: \"Entiendo que hay un problema con las notas. ¿Podrías describir exactamente qué es lo que no funciona como esperas?\"*\n-   **SI el `objetivo_esperado` no está claro**: Pregunta sobre el resultado ideal.\n    -   *Ejemplo: \"Ok, la plataforma está lenta. Si funcionara perfectamente, ¿qué te permitiría hacer que ahora no puedes?\"*\n-   **SI los `beneficiarios` no están claros**: Pregunta por el alcance del impacto.\n    -   *Ejemplo: \"¡Gracias por el detalle! Para entender la magnitud, ¿a cuántos estudiantes o profesores afectaría esta mejora?\"*\n-   **SI las `plataformas_involucradas` no están claras**: Usa tu conocimiento del contexto UTP para sugerir.\n    -   *Ejemplo: \"Cuando hablas de 'reportes de empleados', ¿te refieres a algo que sacaríamos de PeopleSoft o de otro sistema?\"*\n-   **SI todo lo anterior está cubierto**: Pregunta por `frecuencia_uso` o `urgencia`.\n    -   *Ejemplo: \"Esto suena muy útil. ¿Sería algo que usarías a diario o más bien de forma esporádica?\"*\n\n## 5. ADAPTACIÓN AL USUARIO (Personalización)\nAjusta tus preguntas según el rol y departamento del usuario para demostrar que entiendes su contexto.\n\n-   **SI es un Profesor (Académico)**: Enfócate en el impacto para los estudiantes y en plataformas como Canvas o Moodle.\n-   **SI es Personal Administrativo**: Enfócate en la eficiencia de procesos y en plataformas como SAP o PeopleSoft.\n-   **SI es un Investigador**: Enfócate en el análisis de datos y en herramientas como Power BI.\n\n## 6. REGLAS DE ORO Y FORMATO DE SALIDA\n-   **UNA PREGUNTA A LA VEZ**: Tu `next_question` debe ser siempre una sola pregunta.\n-   **SÉ BREVE Y DIRECTO**: Ve al grano.\n-   **MANTÉN EL TONO COLOQUIAL Y AMIGABLE**: Usa un lenguaje cercano.\n-   **FORMATO DE SALIDA OBLIGATORIO**: Responde SIEMPRE con un objeto JSON que contenga dos campos:\n    -   `next_question`: Un string con la siguiente pregunta para el usuario.\n    -   `extracted_data`: Un objeto con los campos que pudiste extraer del último mensaje. Si no extrajiste nada, deja el objeto vacío (`{}`).\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        928,
        -112
      ],
      "id": "f24953c8-cb47-4000-b26d-2d28d36acc1a",
      "name": "Agente Descubridor de necesidades"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "502be3a8-46c6-451b-a353-5f89a93e7da1",
              "name": "pregunta_asistente",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "06c4bed7-3b48-4260-b2b7-0e1e26743083",
              "name": "nuevo_score",
              "value": "={{$json.total_score}}",
              "type": "string"
            },
            {
              "id": "21e023da-771f-4f86-8762-8000644e1c72",
              "name": "data_normalizada",
              "value": "={{ $('Normalizador de Datos').first().json }}",
              "type": "string"
            },
            {
              "id": "acb17f5b-9d86-4af4-a896-0e7e130faa34",
              "name": "session_data",
              "value": "={{ $('Combinar datos de sesión').first().json.session_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        -112
      ],
      "id": "23def9e4-a043-436a-b05a-d3042b7849bc",
      "name": "Formateando salida"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_messages\n  (message_id, session_id, role, message, agent_name, created_at)\nVALUES\n  (gen_random_uuid(), '{{ $('Rutas').item.json.session_data.session_id }}', 'assistant', '{{ $json.pregunta_asistente }}', 'discovery_agent', NOW());\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2384,
        -112
      ],
      "id": "32a6a173-52fa-44b9-81e4-2252f65a2915",
      "name": "Guardar mensaje del asistente en conversaciones",
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE session_states\nSET\n  completeness_score = {{ $('Formateando salida').first().json.new_score }},\n  -- Usamos el operador || para fusionar el JSON existente con el nuevo\n  conversation_data = conversation_data || '{{ JSON.stringify($('Formateando salida').first().json.normalized_data) }}'::jsonb,\n  updated_at = NOW()\nWHERE session_id = '{{ $('Formateando salida').first().json.session_data.session_id }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2608,
        -112
      ],
      "id": "034aadfd-1a5b-436c-9fbf-12c04d501fc3",
      "name": "Actualizar estado de la sesión",
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "524b0ea0-6d57-45d4-820b-f25fdeee6fa0",
              "name": "response_type",
              "value": "text",
              "type": "string"
            },
            {
              "id": "2013607d-83eb-4c20-91d8-03aeb165cfe0",
              "name": "text",
              "value": "={{ $('Formateando salida').item.json.pregunta_asistente }}",
              "type": "string"
            },
            {
              "id": "bf352cbc-4cef-465f-959a-62b99bc91859",
              "name": "session_id",
              "value": "={{ $('Rutas').item.json.session_data.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        -112
      ],
      "id": "42da0771-9633-4d83-8775-f2f949f92664",
      "name": "Construit respuesta para frontend"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_active_scoring_config();\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        -112
      ],
      "id": "63b3d38d-4663-4964-a829-36317520a5fc",
      "name": "Obtener configuraciones",
      "credentials": {
        "postgres": {
          "id": "yumcCdrdDTSkZ7JN",
          "name": "Postgres n8n historial"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"next_question\": {\n      \"type\": \"string\",\n      \"description\": \"La siguiente pregunta clara, breve y amigable para el usuario, formulada para obtener la información que falta.\"\n    },\n    \"extracted_data\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"problema_principal\": {\n          \"type\": \"string\",\n          \"description\": \"El problema o necesidad principal extraído textualmente del último mensaje del usuario.\"\n        },\n        \"objetivo_esperado\": {\n          \"type\": \"string\",\n          \"description\": \"El resultado o meta que el usuario mencionó en su último mensaje.\"\n        },\n        \"plataformas_involucradas\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"description\": \"Lista de plataformas o sistemas que el usuario mencionó explícitamente.\"\n        },\n        \"beneficiarios\": {\n          \"type\": \"string\",\n          \"description\": \"Las personas o roles que el usuario identificó como beneficiarios.\"\n        },\n        \"frecuencia_uso\": {\n          \"type\": \"string\",\n          \"description\": \"La frecuencia de uso mencionada por el usuario (ej: 'todos los días', 'una vez al mes').\"\n        },\n        \"urgencia\": {\n          \"type\": \"string\",\n          \"description\": \"El nivel de urgencia expresado por el usuario (ej: 'es crítico', 'no es tan urgente').\"\n        }\n      },\n      \"description\": \"Un objeto que contiene ÚNICAMENTE la información nueva extraída del último mensaje del usuario. Si no se extrajo información para un campo, este debe ser omitido.\"\n    }\n  },\n  \"required\": [\n    \"next_question\",\n    \"extracted_data\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1120,
        112
      ],
      "id": "06e0312b-a042-4103-b19a-d3761473ee26",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"plataformas_involucradas\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"departamento_solicitante\": { \"type\": \"string\" },\n    \"frecuencia_uso\": { \"type\": \"string\" },\n    \"urgencia\": { \"type\": \"string\" },\n    \"problema_principal\": { \"type\": \"string\" },\n    \"objetivo_esperado\": { \"type\": \"string\" },\n    \"beneficiarios\": { \"type\": \"string\" }\n  },\n  \"description\": \"Objeto con los datos normalizados.\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1504,
        64
      ],
      "id": "71e1ce6a-67cf-4653-a970-ab778d5b6915",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1296,
        64
      ],
      "id": "ecfcad7e-8ad7-4225-b52d-ffb1e1116b51",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "FJVKAIddO9aNIQ3y",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# DATOS A NORMALIZAR\n{{ JSON.stringify($json.output.extracted_data) }}\n\n---\n## INSTRUCCIONES:\nNormaliza los valores del JSON anterior según las siguientes reglas DINÁMICAS.\n\n- `plataformas_involucradas`: Mapea a uno o más de los siguientes valores oficiales:\n  {{ JSON.stringify($('Obtener configuraciones').first().json.get_active_scoring_config.valid_enums.plataformas_involucradas) }}\n\n- `departamento_solicitante`: Normaliza a uno de los siguientes departamentos oficiales:\n  {{ JSON.stringify($('Obtener configuraciones').first().json.get_active_scoring_config.valid_enums.departamento_solicitante) }}\n\n- `frecuencia_uso`: Mapea a uno de los siguientes valores:\n  {{ JSON.stringify($('Obtener configuraciones').first().json.get_active_scoring_config.valid_enums.frecuencia_uso) }}\n\n- `urgencia`: Mapea a uno de los siguientes valores:\n  {{ JSON.stringify($('Obtener configuraciones').first().json.get_active_scoring_config.valid_enums.urgencia) }}\n\nSi un campo no se puede mapear con certeza, omítelo en tu respuesta.\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un asistente de normalización de datos altamente preciso. Tu única tarea es tomar un objeto JSON con datos en lenguaje natural y convertir sus valores a un formato estricto predefinido. Si un valor no se puede mapear claramente, déjalo como `null`. No inventes información."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1312,
        -112
      ],
      "id": "a662556c-108c-4e4c-a063-e75b0a515573",
      "name": "Normalizador de Datos"
    },
    {
      "parameters": {
        "jsCode": "// 1. Plantilla con todos los campos requeridos por la API\nconst apiTemplate = {\n  problema_principal: null, objetivo_esperado: null,\n  plataformas_involucradas: [], beneficiarios: null,\n  frecuencia_uso: null, urgencia: null,\n  departamento_solicitante: null\n};\n\n// 2. Cargar la memoria de la sesión\nconst sessionMemoryRaw = $('Combinar datos de sesión').first().json.session_data.conversation_data || {};\n\n// 3. LIMPIEZA: Crear una versión limpia de la memoria,\n//    conteniendo solo las claves que nos interesan.\nconst sessionMemoryClean = {};\nfor (const key in apiTemplate) {\n  if (sessionMemoryRaw.hasOwnProperty(key)) {\n    sessionMemoryClean[key] = sessionMemoryRaw[key];\n  }\n}\n\n// 4. Cargar los datos recién normalizados de este turno\nconst normalizedData = $('Normalizador de Datos').first().json.output;\n\n// 5. Fusionar todo en orden.\nconst finalRequestData = { ...apiTemplate, ...sessionMemoryClean, ...normalizedData };\n\n// Devolver el payload final para la API\nreturn { request: finalRequestData };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        -112
      ],
      "id": "2410d405-f497-4852-a9d2-6db44cde865e",
      "name": "Preparar Cuerpo para Scoring"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/analysis/simple-calculate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.request) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        -112
      ],
      "id": "49272d3c-96fa-437c-9838-34d28497ff08",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Análisis Final",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Salida de Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Extract JSON from Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Profile Data": {
      "main": [
        [
          {
            "node": "Obtener configuraciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar datos": {
      "main": [
        [
          {
            "node": "Verificar Sesiones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Sesiones": {
      "main": [
        [
          {
            "node": "¿Hay sesión activa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay sesión activa?": {
      "main": [
        [
          {
            "node": "Extraer historial de conversaciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear sesión": {
      "main": [
        [
          {
            "node": "Combinar datos de sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar datos de sesión": {
      "main": [
        [
          {
            "node": "Rutas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini clasificador": {
      "ai_languageModel": [
        [
          {
            "node": "Enrutador de agente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Enrutador de agente": {
      "main": [
        []
      ]
    },
    "Extraer historial de conversaciones": {
      "main": [
        [
          {
            "node": "Combinar datos de sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Análisis Final",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extraer historial de conversaciones1": {
      "main": [
        [
          {
            "node": "Combinar datos de sesión1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Sesiones1": {
      "main": [
        [
          {
            "node": "Extraer historial de conversaciones1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "User Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rutas": {
      "main": [
        [],
        [
          {
            "node": "Agente Descubridor de necesidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Descubridor de necesidades",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Análisis Final": {
      "main": [
        []
      ]
    },
    "Agente Descubridor de necesidades": {
      "main": [
        [
          {
            "node": "Normalizador de Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateando salida": {
      "main": [
        [
          {
            "node": "Guardar mensaje del asistente en conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar mensaje del asistente en conversaciones": {
      "main": [
        [
          {
            "node": "Actualizar estado de la sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar estado de la sesión": {
      "main": [
        [
          {
            "node": "Construit respuesta para frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener configuraciones": {
      "main": [
        [
          {
            "node": "Combinar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Descubridor de necesidades",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Normalizador de Datos",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Normalizador de Datos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalizador de Datos": {
      "main": [
        [
          {
            "node": "Preparar Cuerpo para Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Cuerpo para Scoring": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Formateando salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a30886a-107f-466b-9f9f-92980539c07f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d7bf67ab2f1532bb720b0269d9db4ba5e7c3188605719051a55b86973397668"
  },
  "id": "zwMR9u3qsq8NTIJJ",
  "tags": []
}